.client {
  padding-top: 10rem;
  @include respond(tab-lands) {
    padding: 5rem 0;
  }
  @include respond(phone) {
    padding: 5rem 0;
  }
  &__content {
    padding: 5rem 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    @include respond(tab-lands) {
      grid: 0;
      grid-template-columns: repeat(2, 1fr);
    }
    @include respond(phone) {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 0;
    }
  }
  &__logo-box {
    padding: 10rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include respond(tab-lands) {
      padding: 5rem 0;
    }
    @include respond(phone) {
      padding: 4rem 0;
    }
  }
  &__logo-box img {
    height: 10rem;
  }
}
.section--1 {
  background-image: url("../../img/pattern_1.svg");
  background-size: cover;
  position: center;
  padding: 10rem 0;
  &__content {
    display: inline-flex;
    @include respond(tab-lands) {
      align-content: center;
      justify-content: center;
      flex-direction: column;
    }
  }
  &__left {
    flex: 0.55;
    flex-shrink: 1;
  }
  &__left img {
    display: block;
    width: 100%;
    max-width: 25rem;
    box-shadow: 0px 0px 10px rgba($color--gray-dark, 0.2);
    border-radius: 3rem;
  }
  &__right {
    display: inline-flex;
    align-items: center;
    flex: 1;
    @include respond(tab-lands) {
      padding: 6rem 0;
    }
  }
  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    &:nth-last-child(3) {
      & .section--1__list-icon {
        background: $color--yellow;
      }
    }
    &:nth-last-child(2) {
      & .section--1__list-icon {
        background: $color--cyan;
      }
    }
    &:nth-last-child(1) {
      & .section--1__list-icon {
        background: $color--secondary;
      }
    }
    @include respond(tab-lands) {
      padding: 2rem;
    }
    @include respond(tab) {
      flex-direction: column;
      text-align: center;
      padding: 2rem 0rem;
    }
  }
  &__list-icon {
    height: 10rem;
    width: 10rem;
    position: relative;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 2rem;
    flex-shrink: 0;
    @include respond(tab) {
      margin: 2rem 0;
    }
  }
  &__list-icon i {
    font-size: 4rem;
    color: $color--light;
  }
}
