*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Quicksand", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color--dark;
  background-color: $color--light;
  font-weight: 600;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  color: rgb(0, 64, 225);
}
h1,
h2,
h3,
h4,
h5,
h6 {
}
.container {
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
}
